<section id="section">
  <div class="container text-center">
    <div id="error_row" class="row">
      <div class="col">
        <h1 class="text-center">Error Page</h1>
        <h2 class="text-center">Error: Route could not be found or you refreshed the SinglePageApplication
          <br>
          <br>
          <br>
          This is a Single Page Application!
          <br>
          Please do not refresh the page
          <br><br><br>
        </h2>
        <a id="back_btn" class="btn btn-app btn-lg" routerLink="/" type="button">Go to main page</a></div>
    </div>
  </div>
</section>
