<app-header></app-header>
<section>
  <div class="container text-center descriptionSection">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-plus"></i>
        <h2>Add Cornflakes</h2>
        <p>You can add Cornflakes to the Web Application. All Cornflakes are stored in the Database for each user.</p>
      </div>
      <div class="col-md-4"><i class="fas fa-minus"></i>
        <h2>Delete Cornflakes</h2>
        <p>You can delete Cornflakes as well. Feel free to delete Cornflakes it is just a simple WebApp demostration.</p>
      </div>
      <div class="col-md-4"><i class="fas  fa-edit"></i>
        <h2>Edit Cornflakes</h2>
        <p>Furthermore you can edit Cornflakes.</p>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>
