// color

$color_main: #0F517F;

$color_main_two: #A3CCFF;

$color_main_three: #000A19;

$color_main_four: #273D4D;

$color_main_five: #136299;

$color_font: rgb(255,255,255);

$color_font_two: #000000;

$color_mixed_box: linear-gradient(75deg, $color_main 0, $color_main_three 120%) no-repeat;

$font-header: 'Alfa Slab One', cursive;

$font-body: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
