<section id="cornflakes_management">
  <div class="container-fluid text-center">
    <div id="cornflakes_list_header" class="row no-gutters">
      <div class="col-md-12 col-lg-12 col-xl-12 offset-xl-0">
        <h1>Cornflakes {{ cornflakes ? '( '+cornflakes.length+' Cornflakes )':'' }}</h1>
        <button class="btn btn-app-two btn-lg" type="button" [routerLink]="[ {outlets: { modal: ['create'] } } ]">Add
          new
          Cornflakes
        </button>
      </div>
    </div>
    <ng-template #noData>
      <br>
      <h3 id="noDataTemplate">No Data available - create new Cornflakes</h3>
    </ng-template>
  </div>
  <div class="container-fluid text-center" *ngIf="cornflakes; else noData">
    <div class="row no-gutters">
      <div class="col-md-10 offset-md-1">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Age Group</th>
              <th>Type</th>
              <th>Producer</th>
              <th style="width:0.5rem;"></th>
              <th style="width:0.5rem;"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cornflake of cornflakes" [routerLink]="[ {outlets: { modal: ['show', cornflake.id] } } ]">
              <td>{{ cornflake.name }}</td>
              <td> {{getAgeGroup(cornflake.age_group)}}</td>
              <td>{{ getCornTyp(cornflake.type) }}</td>
              <td>{{ cornflake.producer }}</td>
              <td (click)="$event.stopPropagation()">
                <button class="btn editbutton" type="button"
                        [routerLink]="[ {outlets: { modal: ['edit', cornflake.id] } } ]">
                  <i class="fa fa-edit" style="margin-left:0px;"></i></button>
              </td>
              <td (click)="$event.stopPropagation()">
                <button class="btn removebutton" type="button"
                        [routerLink]="[ {outlets: { modal: ['delete',cornflake.id] } } ]"><i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet name="modal"></router-outlet>
