<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>About</h4>
        <ul>
          <li>Web Design</li>
          <li>Web Development</li>
          <li>Heroku Deployment</li>
          <li>Some interesting stuff..</li>
        </ul>
      </div>
      <div class="col">
        <h4 >Developer</h4>
        <ul>
          <li>Timon Mi</li>
        </ul>
      </div>
      <div class="col">
        <h4 >Actions</h4>
        <ul>
          <li><button (click)="logout()">Logout</button></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

